/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
*/
body{
    font-family: Circular,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222326;
    background-color: #fff;
}

header{
	background-color: #000000;
	padding:10px;
}

#primera{
	color: #FFFFFF;
	text-decoration: none;
}

#primera p a{
	color: #fff;
	
}

#primera h1{
	font-family: Circular,Helvetica,Arial,sans-serif;
	font-size: 80px;
    font-weight: 900;
    letter-spacing: -.04em;
    line-height: 1.15;
    margin-top: 0;
}
#primera p{
	font-family: Circular,Helvetica,Arial,sans-serif;
	font-size: 14px;
    line-height: 32px;
    letter-spacing: -.25px;
    font-weight: 900;
    margin: 12px 0 0;
}

.class{
	font-family: Circular,Helvetica,Arial,sans-serif;
	font-size: 14px;
    line-height: 32px;
    letter-spacing: -.25px;
    font-weight: 900;
    margin: 12px 0 0;
	color: #FFFFFF;
	text-decoration: none;

}

.btn{
	font-family: Circular,Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 12px;
	padding: 18px 48px 16px;
	line-height: 1;
	margin-top: 20px;
	border-radius: 40px;
	background-color: #1db954;
	letter-spacing: 2px;
}


.btn:hover{
	line-height: 1;
	margin-top: 20px;
	padding: 18px 48px 16px;
	background-color: #74D781;
	border: solid 2px #74D781;
}

#sec-listen .btn-success{
	font-family: Circular,Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 12px;
	padding: 18px 0px 16px;
	line-height: 1;
	margin-top: 20px;
	border-radius: 40px;
	background-color: #1db954;
	letter-spacing: 2px;
}


#sec-listen .btn-success:hover{
	line-height: 1;
	margin-top: 20px;
	padding: 18px 0px 16px;
	background-color: #74D781;
	border: solid 2px #74D781;
}

.btn-default{
	font-family: Circular,Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 12px;
	padding: 18px 48px 16px;
	line-height: 1;
	margin-top: 20px;
	border-radius: 40px;
	background-color: transparent;
	letter-spacing: 2px;
	color: #1db954;
    border: solid 2px #1db954;
    background-color: transparent;
	
}

.btn-default:hover{
	background-color: #1db954;
	color: #FFFFFF;
	border: solid 2px #1db954;
	padding: 18px 48px 16px; 

}

.title{
  color: black;
  font-weight: bold;
  padding-top: 32px;
}

#slides article{
  padding-bottom: 20px;
}

#music span a{
font-family: Circular,Helvetica,Arial,sans-serif;
  color: #1dbb62;
  font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}
#music span a:hover{
font-family: Circular,Helvetica,Arial,sans-serif;
  color: #21D470;
  font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

h4{
  font-size: 16px;
	color: #000000;
	font-weight: bold;
}

#music p{
	font-size: 11px;
}

#music a{
	font-size: 11px;
}

.special{
	color: #1dbb62;
	 font-size: 16px;
	font-weight: bold;
}

#sec-spotify{
	padding: 0px, 20px;
	text-align: center;
}

#sec-tendencias{
	padding: 20px 20px;
	color:#A4A4A4
}

#sec-info{
	padding: 20px 20px;
	text-align:center;
}

#sec-text{
	text-align:left;
}

.links{
font-family: Circular,Helvetica,Arial,sans-serif;
  color: #1dbb62;
  font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 2px;
}

.links:hover{
font-family: Circular,Helvetica,Arial,sans-serif;
  color: #21D470;
  font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}



#offers h2{
	font-family: Circular,Helvetica,Arial,sans-serif;
	color: #1dbb62;
	font-size: 40px;
	font-weight: bold;
	margin: 20px 0px;
}

.plan{
	  color: black;
  font-weight: bold;
  padding-top: 45px;
	margin-bottom: 25px;
}

h3{
	font-family: Circular,Helvetica,Arial,sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
}

h2{
	font-family: Circular,Helvetica,Arial,sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #000000;
	
}

#get h2{
	font-family: Circular,Helvetica,Arial,sans-serif;
	color: #FFFFFF;
	font-size: 40px;
	font-weight: bolder;
	margin: 20px 0px;
}


#get{
	background-image: url( ../img/banner_top.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	margin-top: 40px;
	padding: 60px 0px;
	color: #FFFFFF;
}



footer{
	font-family: Circular,Helvetica,Arial,sans-serif;
	background-color: #000000;
		color: #FFFFFF;
	padding: 50px 0px 20px 0px;
	margin: 0px;
}

footer h3{
    color: #919496;
    font-size: 14px;
    letter-spacing: .08em;
    margin: 50px 0 22px;
    text-transform: uppercase;
}

footer li a{
	font-size: 16px;
	color:#fff;	
	font-weight:400;
	padding: 0px;
}

footer li a:hover{
	color:#1dbb62;	
	font-weight:400;
	padding: 0px;
	text-decoration: none;
	    padding-left: 0;
}

.otis {
 list-style-type: none;
	float: left;
	color: #FFFFFF;
	text-decoration: none;
	
 }

.divider{
	border-right: 1px solid #fff;
}

#sec-sign .btn{
	font-family: Circular,Helvetica,Arial,sans-serif;
	padding: 17px 48px;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 18px 48px 16px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 100px;
    text-transform: uppercase;
}
	
.btn-block {
    display: block;
	width: 100%;
}

#sec-sign{
	margin-left: auto;
	margin-right: auto;
	color: #919191;
	padding-top: 100px;
}

#sec-sign p a{
	color: #1dbb62;
	text-decoration: none;
}

#sec-sign p a:hover{
	color: #1ED66E;
	text-decoration: none;
}

.notice{
	font-family: Circular,Helvetica,Arial,sans-serif;
	font-weight: 600;
	text-align: left;
	font-size: 12px;
	color: #000000;
	padding: 10px 0px;
}

.genero{
	padding: 10px 0px;
}

.checkbox{
	font-family: Circular,Helvetica,Arial,sans-serif;
	font-weight: 600;
	text-align: left;
	font-size: 12px;
	padding: 10px 0px;
}

.texto{	
padding-top: 8px;
}

#sec-listen{
	background-color: #d9dadc;
	padding: 20px 0px;
}

#sec-listen .table2{
	border: solid 2px #d9dadc;
	border-radius: 20px;
	box-shadow: 0 0 8px rgba(0,0,0,.3);
    background-color: #fff;
    padding: 28px;
}

#sec-listen a .links{
	width: 53px;
	height: 53px;
	line-height: 53px;
}

#sec-listen .play{
	border-bottom: solid 1px #d9dadc;
    margin: 4px 0 28px;
}

#sec-listen .student{
	margin: 4px 0 0px;
	border-bottom: none;
}

#sec-listen h2{
	margin-bottom: 20px;
}

#sec-listen .row{
	padding: 10px;
}

.icon{
	color: #FFFFFF;
	font-size: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100px;
	background-color: #242424;
	margin-left: 10px;
}

.icon:hover{
	color: #1dbb62;
}

#why-premium{
	margin-top: 40px;
	margin-bottom: 40px;
}

#sec-listen li{
	list-style-type: none;
	display: block;
}

#sec-listen ul{
	border-top: 1px solid #d9dadc;
    border-bottom: 1px solid #d9dadc;
    padding: 34px 0 26px;
    margin: 4px 0 28px;
}

#sec-listen span{
	 font-size: 32px;
    font-weight: 900;
    margin: 8px 0px 0px;
}

.letter{
	font-weight: 400;
    margin: 0;
	font-size: 24px;
    letter-spacing: -.01em;
	line-height: 1.4;
}
.grey{
	color: #d9dadc;
}

.small{
	font-size: 12px;
	color: #d9dadc;
	padding-top: 0px;
}
#segunda{
	background-color: #60b3f6;
	padding-top: 50px;
	color: #fff;
}

#segunda h2{
	color: #fff;
}

h1{
	font-size: 80px;
	font-weight: 900;
    letter-spacing: -.04em;
    line-height: 1.15;
	margin: .5em 0 .25em;
}

#segunda .padding{
	padding-top: 90px;
	padding-bottom: 30px;
}

.small a{
	font-size: 12px;
	color: #d9dadc;
	padding-top: 5px;
	text-decoration: underline;
}

.small a:hover{
	font-size: 12px;
	color: #EBEBEC;
	padding-top: 0px;
	text-decoration: underline;
}